Devcon2012/AsyncMVC/Service References/NewsServiceMVC4Reference/NewsServiceMVC4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsServiceMVC4" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11319/WCF/NewsServiceMVC4.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11319/WCF/NewsServiceMVC4.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11319/WCF/NewsServiceMVC4.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsyncMVC" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsServiceMVC4_GetWorldNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldNews" />
  </wsdl:message>
  <wsdl:message name="INewsServiceMVC4_GetWorldNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorldNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsServiceMVC4_GetSportNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSportNews" />
  </wsdl:message>
  <wsdl:message name="INewsServiceMVC4_GetSportNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportNewsResponse" />
  </wsdl:message>
  <wsdl:message name="INewsServiceMVC4_GetFunNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFunNews" />
  </wsdl:message>
  <wsdl:message name="INewsServiceMVC4_GetFunNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFunNewsResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsServiceMVC4">
    <wsdl:operation name="GetWorldNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsServiceMVC4/GetWorldNews" message="tns:INewsServiceMVC4_GetWorldNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsServiceMVC4/GetWorldNewsResponse" message="tns:INewsServiceMVC4_GetWorldNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSportNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsServiceMVC4/GetSportNews" message="tns:INewsServiceMVC4_GetSportNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsServiceMVC4/GetSportNewsResponse" message="tns:INewsServiceMVC4_GetSportNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFunNews">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsServiceMVC4/GetFunNews" message="tns:INewsServiceMVC4_GetFunNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsServiceMVC4/GetFunNewsResponse" message="tns:INewsServiceMVC4_GetFunNews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsServiceMVC4" type="tns:INewsServiceMVC4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorldNews">
      <soap:operation soapAction="http://tempuri.org/INewsServiceMVC4/GetWorldNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSportNews">
      <soap:operation soapAction="http://tempuri.org/INewsServiceMVC4/GetSportNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunNews">
      <soap:operation soapAction="http://tempuri.org/INewsServiceMVC4/GetFunNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsServiceMVC4">
    <wsdl:port name="BasicHttpBinding_INewsServiceMVC4" binding="tns:BasicHttpBinding_INewsServiceMVC4">
      <soap:address location="http://localhost:11319/WCF/NewsServiceMVC4.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>