Devcon2012/AsyncMVC/Service References/NewsServiceMVC4Reference/NewsServiceMVC42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11319/WCF/NewsServiceMVC4.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsyncMVC" />
  <xs:element name="GetWorldNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorldNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AsyncMVC" minOccurs="0" name="GetWorldNewsResult" nillable="true" type="q1:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AsyncMVC" minOccurs="0" name="GetSportNewsResult" nillable="true" type="q2:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AsyncMVC" minOccurs="0" name="GetFunNewsResult" nillable="true" type="q3:ArrayOfNewsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>